<template>
  <div id="build">
    <div class="page-header">
       <h2>BUILD</h2>
    </div>
    <el-card class="box-card">
        <el-row>
          <el-col :span="22" :offset="1" class="spacer">
            <el-alert
              title="構築完了した際に通知が届きます。"
              type="success"
              :closable="false"
              class="m1"
              v-if="loading"
              >
            </el-alert>

            <el-form ref="form" :model="form" :rules="rules" label-width="100px" label-position="top" v-loading="loading" element-loading-text="Build it...">
              <el-form-item label="HOSTNAME" prop="hostname">
                <el-input placeholder="Please input" v-model="form.hostname" width="120">
                  <template slot="append">.vers.jp</template>
                </el-input>
              </el-form-item>
              <el-form-item label="PHP" prop="php">
                <el-radio v-model="form.php" label="5" border size="medium" @change="collapseAboutOpen('php')">php5.6</el-radio>
                <el-radio v-model="form.php" label="7" border size="medium" @change="collapseAboutOpen('php')">php7.1</el-radio>
              </el-form-item>
              <el-form-item label="MySQL">
                <el-radio v-model="form.db" label="true" border size="medium" @change="collapseAboutOpen('db')">MySL5.7</el-radio>
                <el-radio v-model="form.db" label="false" border size="medium" @change="collapseAboutOpen('db')">データベースは利用しない</el-radio>
              </el-form-item>
              <el-form-item label="Git">
                <el-input placeholder="Git repository URL" v-model="form.git" @input="collapseAboutOpen('git')"></el-input>
              </el-form-item>
              <el-form-item>
               <el-button type="primary" @click="submitForm('form')">Create</el-button>
             </el-form-item>
            </el-form>
            <el-collapse v-model="activeNames">
              <el-collapse-item title="php" name="php">
                <div>phpのサポートバージョンは5.6系と7.1系です。大部分のウェブサイトはこの環境で動作します</div>
                <div>Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.</div>
              </el-collapse-item>
              <el-collapse-item title="Database" name="db">
                <div>Operation feedback: enable the users to clearly perceive their operations by style updates and interactive effects;</div>
                <div>Visual feedback: reflect current state by updating or rearranging elements of the page.</div>
              </el-collapse-item>
              <el-collapse-item title="Git" name="git">
                <div>Simplify the process: keep operating process simple and intuitive;</div>
                <div>Definite and clear: enunciate your intentions clearly so that the users can quickly understand and make decisions;</div>
                <div>Easy to identify: the interface should be straightforward, which helps the users to identify and frees them from memorizing and recalling.</div>
              </el-collapse-item>
            </el-collapse>
          </el-col>
        </el-row>
      </el-card>
  </div>
</template>
<script>
export default {
  data: () => ({
    loading: false,
    msg: 'test',
    activeNames: [],
    form: {
      hostname: '',
      php: '7',
      db: 'false',
      git: ''
    },
    rules: {
      hostname: [
        {required: true, message: '設定するホスト指定してください', trigger: 'blur'}
      ]
    }
  }),
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false
        }
        this.loading = true
      })
    },
    collapseAboutOpen (val) {
      var actived = this.activeNames
      actived.push(val)
      var r = Array.from(new Set(actived))
      this.activeNames = r
    }
  }
}
</script>
<style lang="scss" scoped>
.spacer {
  padding: 1em 0;
}
.m1 { margin: 1em 0;}
</style>
