<template>
  <div id="home">
    <div class="hero">
      <h1>SCULPTOR<span>テスト環境自動構築ツール</span></h1>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    msg: 'test'
  })
}
</script>
<style lang="scss" scoped>

</style>
