<template>
  <div id="app">
  <v-app id="sculptor" light>
    <v-navigation-drawer fixed v-model="drawer" app>
      <v-list dense>
        <v-list-tile @click="naviClickAction('home')">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="naviClickAction('build')">
          <v-list-tile-action>
            <v-icon>build</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Build</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
   <v-toolbar color="cyan" dark fixed app>
     <v-toolbar-title>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
       SCULPTOR
     </v-toolbar-title>
   </v-toolbar>
   <v-content>
     <v-container fluid fill-height>
       <v-layout row wrap>
         <v-flex xs8 offset-xs2>
           <router-view/>
         </v-flex>
       </v-layout>
     </v-container>
   </v-content>
   <v-footer app fixed>
     <span>&copy; 2017</span>
   </v-footer>
 </v-app>
 </div>
</template>

<script>
export default {
  name: 'app',
  data: () => ({
    drawer: false
  }),
  methods: {
    naviClickAction (name) {
      this.$router.push({ name: name })
    }
  },
  created () {
    this.pusher.subscribe('my-channel', (channel) => {
      channel.bind('my-event', (log) => {
        console.log(log)
      })
    })
  }
}
</script>

<style lang="scss">
html, body {}
.hero { font-family: "Mplus 1p"; text-align: center; padding: 2em 0; background: rgb(238, 238, 238); margin: 2rem 0;
  h1,h2 { font-size: 4.3rem; line-height: 1;}
  span { display: block; font-size: 14px; line-height: 1.2;}
}
#sculptor { background: #fff !important; }
</style>
